/*

*/


:root {

    --h__font-family: 'VT323', sans-serif;
    --h__text-color: black;
    --h1__font-size: 30px;
    --h2__font-size: 25px;
    --triangle-height: 7px;


   

}

.header {
    margin: 40px 20px;
}



/*basic style for h1*/
h1 {
    font-family: var(--h__font-family);
    font-size: var(--h1__font-size);
    color: var(--h__text-color);
    text-align: center;
}

/*basic style for h2*/
h2 {
    font-family: var(--h__font-family);
    font-size: var(--h2__font-size);
    color: var(--h__text-color);
    text-align: center;
}

/*adds fade-in-and-out animation to the triangle in the title*/
@keyframes triangle-fadeinout {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*adds fade-in-and-out animation to the triangle in the title*/
#triangle-animation {
    transform: rotate(180deg);
    height: var(--triangle-height);

    animation-name: triangle-fadeinout;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.pokemon-button {
    background-color: rgb(247, 66, 66);
    color: rgba(255, 255, 255, 0.787);
    border: 1.5px solid grey;
    padding: 16px;
    margin: 3px;
    width: 150px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    


   /* 
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;*/
}

.pokemon-list {
    margin: auto;
    list-style-type: none;
    text-align: center;
}

.pokemon-list__container {
    display: flex;
    padding: 15px;
    width: 600x;
    margin: 25px;
    /* uncomment to visualize the container and understand the changes better 
    border: 3px solid black;
    */
}


/*test modal button*/
#pokemon-button {
    padding: 15px;
    background-color: green;
    color: white;
    width: 200px;
    margin:auto;
    display: flex;
    justify-content: center;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 229, 255, 0.8);
    z-index: 999; 
}